{% extends "app/base.html.twig" %}

{% block content %}
    <nav>
        <ul>
            <li>
                <input type="checkbox" id="nav-discord" />
                <label for="nav-discord">
                    <a class="discord-identity" href="/logout">
                    <span>
                        Switch accounts (logged in as <img class="discord-avatar" src="{{ discordAvatarURL }}" alt="Avatar" height="20" /> {{ user.username }})
                    </span>
                    </a>
                    <img src="{{ asset('images/discord_logo.svg') }}" alt="Discord_logo_white" class="discord-logo" width="22" />
                </label>
            </li>
            <li>
                <input type="checkbox" id="nav-website" />
                <label for="nav-website">
                    <a href="https://frenchdiscord.com">
                        <span>French shop</span>
                    </a>
                    <img src="{{ asset('images/french_logo.svg') }}" alt="French logo" width="20" height="20" />
                </label>
            </li>
            <li>
                <input type="checkbox" id="nav-patreon" />
                <label for="nav-patreon">
                    <a href="https://patreon.com/frenchdiscord">
                        <span>Support us on <img src="{{ asset('images/patreon_logo_word.png') }}" alt="Patreon" class="patreon_word" height="20" /></span>
                    </a>
                    <img src="{{ asset('images/patreon_logo_letter.png') }}" alt="Patreon logo" width="20" />
                </label>
            </li>
        </ul>
    </nav>

    <h1 id="title"></h1>
    <div id="message"></div>

    <canvas id="calendar"></canvas>

    <div id="popup">
        <button onclick="closePopup()" id="close" aria-label="Close">×</button>

        <h2 id="partTitle"></h2>

        <p id="popupText"></p>
    </div>

    <script type="text/javascript">
        var calendarWindowImages = {{ calendarImages|json_encode|raw }};
    </script>
{% endblock %}